<!DOCTYPE html>
<html ng-app="converterApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Конвертер Валют 2</title>

    <script src="/js/jquery-2.1.1.min.js"></script>

    <link type="text/css" rel="stylesheet" href="/css/buttonStyle.css"/>
    <link type="text/css" rel="stylesheet" href="/css/mainStyle.css"/>

    <link rel="icon" href="/public/img/favicon.ico" type="image/x-icon">


    <script data-require="angular.js@*" data-semver="1.3.15"
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>


    <script type="text/javascript" src="/js/script.js"></script>


</head>
<body ng-controller="converterController">

<div id="form">

    <div class="Converter">
        <div id="mainLabel">
            <h2 id="mainLabelH2">Конвертер Валют 2</h2>
            <hr id="mainLabelHr">
        </div>
        <p id="p1">Я хочу</p> <input class="button" ng-class="{disabled: buttonDisable}" ng-disabled="buttonDisable"
                                     ng-click="buttonClick()" type="button"
                                     value="Купить"
                                     id="buy">
        <input class="button" type="button" ng-class="{disabled: !buttonDisable}" ng-click="buttonClick()"
               ng-disabled="!buttonDisable" value="Продать"
               id="sell">


        <hr class="someHr">
        <p id="p2">На сумму</p> <label for="inputValue"></label>

        <input value="0.00"
               onfocus="if (this.value == '0.00')
                                                                           this.value='';"
               onblur="if (this.value == '') {this.value
                                                                       = '0.00';}"
               id="inputValue" type="text"
               ng-model="inputValue"/>

        <div class="list">

            <select id="selectExchange" ng-change="selectExchange()" ng-model="selectedExchangeValue"
                    onmouseover="this.size=this.options.length" onmouseout="this.size=1">

                <option ng-repeat="optionsValute in optionsValutes">{{optionsValute}}</option>

            </select>

        </div>

        <hr class="someHr">
        <p id="p4">По курсу</p>
        <div class="list">

            <select id="selectCourse" ng-change="selectCourse()" ng-model="selectCourseValue" onmouseover="this.size=10"
                    onmouseout="this.size=1">
                <option ng-repeat="optionsCourse in optionsCourses">{{optionsCourse}}</option>

            </select>

        </div>

        <hr class="someHr">
        <div id="loader-wrapper" ng-show="loaderStatus">
            <div id="loader"></div>
        </div>
        <p id="p3">Результат</p>

        <div id="personDataTable">
            <ul ng-repeat="row in rows">

                <li>
                    <input type="text" readonly="readonly"
                           value="{{inputValue * (!buttonDisable ? row.buyCourse : row.sellCourse) | number:4 }}"
                           onblur="if (this.value == '') {this.value = '0.00'; }" id="'input1' + {{row.id}}">

                    <label
                            id="{{row.id}}">
                        {{row.id.substring(3, data.id.length)}}</label>
                    <input readonly="readonly"
                           id="'input2' + {{row.id}}"
                           value="{{!buttonDisable ? row.buyCourse : row.sellCourse}}">
                </li>

            </ul>
        </div>
    </div>
</div>

</body>
</html>